/KCommerce/Services/Auth/Auth.API/obj
/KCommerce/Services/Auth/Auth.API/bin
/KCommerce/Services/Basket/Basket.API/obj
/KCommerce/Services/Basket/Basket.API/bin
/KCommerce/Services/Catalog/Catalog.API/obj
/KCommerce/Services/Catalog/Catalog.API/bin
/KCommerce/Services/Chat/Chat.API/obj
/KCommerce/Services/Chat/Chat.API/bin
/KCommerce/Services/Content/Content.API/obj
/KCommerce/Services/Content/Content.API/bin
/KCommerce/Services/Order/Order.API/obj
/KCommerce/Services/Order/Order.API/bin
/KCommerce/Services/Payment/Payment.API/obj
/KCommerce/Services/Payment/Payment.API/bin
/KCommerce/Services/Search/Search.API/obj
/KCommerce/Services/Search/Search.API/bin
/KCommerce/.vs
/KCommerce/Services/Shared/Shared.DataLayer/obj
/KCommerce/Services/Shared/Shared.DataLayer/bin
/KCommerce/Services/Catalog/Catalog.DataLayer/obj
/KCommerce/Services/Catalog/Catalog.DataLayer/bin
/KCommerce/Services/Order/Ordering.DataLayer/obj
/KCommerce/Services/Order/Ordering.DataLayer/bin
/KCommerce/Services/Chat/Chat.DataLayer/obj
/KCommerce/Services/Chat/Chat.DataLayer/bin
/KCommerce/ApiGateways/Web/Gateway.Web/bin
/KCommerce/ApiGateways/Web/Gateway.Web/obj
